#tabs {
  width: 100%;
  height: fit-content;

  display: flex;

  overflow-x: auto;
}

#tabs * {
  flex: 0 0 auto;
}

#import {
  position: relative;
}

#import > label {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
